
@tailwind base;
@tailwind components;
@tailwind utilities;

html,body,*{
    margin: padding 0;
    box-sizing: border-box;
    font-size:10px;
}

:root{
    --primary-cool: #ffffff;
    --tertiary-cool: #292323;
    --secondary-cool: #829bb3;
    --fontcolor-cool: black;
    --h1color-cool: black;
    --button-cool:white;


    --primary-warm: #56202f;
    --tertiary-warm: #faf9dd;
    --secondary-warm: #cb4f3a;
    --fontcolor-warm: black;
    --h1color-warm: white;
    --button-warm: black;

    --h1: 7.594rem;
    --h2: 5.063rem;
    --h3: 3.375rem;
    --h4: 2.25rem;
    --h5: 1.5rem;
}

.warm{
    --primary: var(--primary-warm);
    --secondary: var(--tertiary-warm);
    --tertiary: var(--secondary-warm);
    --fontcolor: var(--fontcolor-warm);
    --h1color: var(--h1color-warm);
    --buttoncolor: var(--button-warm);
}

.cool{
    --primary: var(--primary-cool);
    --tertiary: var(--tertiary-cool);
    --secondary: var(--secondary-cool);
    --fontcolor: var(--fontcolor-cool);
    --h1color: var(--h1color-color);
    --buttoncolor: var(--button-cool);
}


h1{
    font-family: "Handjet", sans-serif;
    font-optical-sizing: auto;

    font-size: var(--h1);
    color: var(--h1color);
    text-align: center;
}

h2{
    font-family: "Handjet", sans-serif;
    font-optical-sizing: auto;
    font-size: var(--h2);
    color: black;
    text-align: center;
    margin-top: 0.5rem;
}

p{
    font-family: "Rajdhani", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: var(--h4);
    text-align: center;
    row-gap: 0.5rem;
    color: black;

}


#weapons-list,
#talismans-list,
#app{
    background-color: var(--primary);
    border: var(--secondary);
    border-radius: 2rem;
    border-width: 1.5rem;

    width: 85vw;
    height: auto;
    row-gap: 7rem;

    margin-top: 2rem;
    margin: auto;

    display: flex;
    flex-wrap: wrap;  
    justify-content: space-between; 
}

.weapon-item{    
    border: var(--primary);
    background-color: var(--secondary);    
    border-radius: 1rem;
    box-shadow: 0 4px 8px black;

    flex: 28%; 
    max-width: 28%; 
    min-width: 15rem;
    min-height: 165rem;
    height: auto;
    box-sizing: border-box; 

    margin: auto; 
    padding: 1.5rem;
    padding-left: 0rem;
    padding-right: 0rem;

    display: flex;
    flex-direction: column;
    gap: 3rem;
}


.talisman-item{    
    border: var(--primary);
    background-color: var(--secondary);    
    border-radius: 1rem;
    box-shadow: 0 4px 8px black;

    flex: 28%; 
    max-width: 28%; 
    min-width: 15rem;
    min-height: 165rem;
    height: auto;
    box-sizing: border-box; 

    margin: auto; 
    padding: 1.5rem;
    padding-left: 0rem;
    padding-right: 0rem;

    display: flex;
    flex-direction: column;
    gap: 3rem;
}



.weapon-cl{    
    background-color: var(--secondary);    
    border-radius: 1rem;
    box-shadow: 0 4px 8px black;

    min-width: 9.5rem;
    min-height: 20rem;
    height: auto;
    box-sizing: border-box; 


    margin: auto; 
    padding-left: 0rem;
    padding-right: 0rem;

    display: flex;
    flex-direction: column;
}

.talisman-cl{    
    background-color: var(--secondary);    
    border-radius: 1rem;
    box-shadow: 0 4px 8px black;

    width: 100%;
    min-height: 10rem;
    height: auto;
    box-sizing: border-box; 

    margin: auto; 
    padding-left: 0rem;
    padding-right: 0rem;

    display: flex;
    flex-direction: column;
}


button:hover{
    transition-duration: 0.2s;
    transform: scale(1.2);
    background-color: var(--secondary);
    border: var(--secondary);
}

h1:hover{
    animation: ease-in-out;
    transition-duration: 0.2s;
    transform: scale(1.2);
}

h2:hover{
    animation: ease-in-out;
    transition-duration: 0.2s;
    transform: scale(1.2);
}

.stattitle:hover{
    animation: ease-in-out;
    transition-duration: 0.2s;
    transform: scale(1.2);
}

.titledesc:hover{
    animation: ease-in-out;
    transition-duration: 0.2s;
    transform: scale(1.2);
}

#controls {
    text-align: center;
    margin: 1rem 0;
}
  
button {
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    background-color: var(--secondary);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    color: var(--fontcolor);
    font-size: 1.5rem;
}
  


  


  
