@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Rajdhani', sans-serif;
  }

  h1, h2 {
    font-family: 'Handjet', sans-serif;
  }
}

h1:hover{
    animation: ease-in-out;
    transition-duration: 0.2s;
    transform: scale(1.2);
}

h2:hover{
    animation: ease-in-out;
    transition-duration: 0.2s;
    transform: scale(1.2);
}


h3:hover{
    animation: ease-in-out;
    transition-duration: 0.2s;
    transform: scale(1.2);
}


p:hover{
    animation: ease-in-out;
    transition-duration: 0.2s;
    transform: scale(1.2);
}


img:hover{
    animation: ease-in-out;
    transition-duration: 0.2s;
    transform: scale(1.2);
}